body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.half-width{

    display: flex;
    
}

.half-width h1{
    font-size: 50px;
    font-weight: 10px;
    padding-left: 3cm;
    
}

.half-width h2{
    font-size: 60px;
    font-weight: 10px;
    color: orange;
    padding-left: 3cm;

}

.half-width h3{
    font-size: 30px;
    font-weight: 10px;
    padding-left: 3cm;

}

.half-width .p1{
 
    font-size:18px;
    padding-left: 3cm;


}

.half-width img{

    background-image: cover;
    width: 400px;



}

.link-button{
     text-decoration: none;
     padding-left: 3cm;
     padding: 15px 50px ;
     background-image: linear-gradient(orange,tomato);
     font-weight: 600;
     color:white;
     border-radius: 10px;
     margin-left: 3cm;

}


.dream{
    display: flex;
    background-image: url("../img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}
.dream img{
    width: 500px;
    background-image: cover;
    padding-left: 2cm;
}

.dream-txt{
 
}


.dream-txt h1{
    font-size: 40px;
    padding-left:3.2cm;
    
}
.dream-txt h3{
    font-size: 20px;
    padding-left:3.2cm;
    
}
.dream-txt p{
    padding-left:3.2cm;
    text-align: justify;

}



