h1{
    font-size: 60px;

}

h2{ color: orange;
    font-size: 50px;

}

section{

    display: flex;
}

.welcome{
    width:50%;
    padding-left: 15%;
}

.rezaul.img{

    width: 80%;
}
 .hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 30px;
    color:aliceblue;
    font-weight: 700px;
    margin-left: 30px;
   border-radius: 10px;
   
 }