body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;

}

h2{ color: orange;
    font-size: 50px;

}

section{
    display: flex;
}

.p1{
    color: black;
    font-size: 20px;
}
.welcome{
    width:50%;
    padding: 15px 10px;
    padding-left: 80px;
}
.img{
     
    background-image: url("../img/top-banner.png");
    background-size: cover;
    background-color: blue;

}

.rezaul-img{
    width: 100%;
  
}
 .hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 60px;
    color:aliceblue;
    font-weight: 700px;
    margin-left: 30px;
   border-radius: 10px;
   
 }

 .dream-bg{
    display: flex;
    margin-bottom: 150px;
    padding: 20px 20px;
 }

 .dream-bg .dreammg{

    display: inline;
    width: 50%;
    padding-right: 20px;
 }

 .dream-txt{
    padding-left: 50px;
    text-align: justify;
    
 }

 .p2{

    margin-bottom:30px;;
 }

 .download{
    padding: 20px 50px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    
 }